:root {
    --blue: #018DED;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background: var(--blue) url(http://unsplash.it/1500/1000?image=881&blur=50);
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
}

body {
    margin: 0;
    font-size: 1rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    min-width: 30rem;
    height: 30rem;
    border: 10px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 7px;
    background: black;
    position: absolute;
    top: 50%;
    border-radius: 5px;
/*    transform: rotate(180deg);*/
    transform-origin: 100% 50%;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.49, 3.44, 0.58, 1);
    transition-property: all;
}
.hour-hand{
    width: 40%;
    height: 12px;
    right: 50%;
    transform: translateY(1px) rotate(90deg)
}
.second-hand{
    background-color: red;
    height: 2px; 
    transform: translateY(6px) rotate(90deg)
}
.min-hand{
    transform: translateY(4px) rotate(90deg)
}
.null,
.three,
.six,
.nine{
    font-family: gorgia, sans-serif;
    position: absolute;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
}
.null{
    top: 7px;
    left: 50%;
    transform: translateX(-50%)
}
.three{
    top: 50%;
    right: 12px;
    transform: translateY(-50%)
}
.six{
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%)
}
.nine{
    top: 50%;
    left: 12px;
    transform: translateY(-50%)
}